<h2 mat-dialog-title>Detalle de renta</h2>
<mat-dialog-content>
  <div class="text-center">
    <label for="" class="p-1"><h5>Vestido:</h5></label>
    <label for="">{{data.vestidos.idDress}}</label>
    <p *ngIf="!data.tipoLlamado" class="text-start">
      Nota:
      <strong>{{data.comentarios}}</strong><br>
      Tipo Comprobante:
      <strong>{{data.tipoComprobante == 1 ? 'Identificacion' : 'Efectivo: $' + data.cantGarantia }}</strong>
    </p>
  </div>
  <div class="col-md-12 d-flex justify-content-center">
    <div class="col-9 cont-image">
      <img src="{{baseUrl+'/'+data.vestidos.imagenUrl}}" class="card-img-top card-img-bottom" alt="...">
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-end">
  <!-- <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="animal()" cdkFocusInitial>Ok</button> -->
  <button mat-button (click)="onNoClick()">{{data.tipoLlamado < 1 ? 'Cerrar' : 'Cancelar'}}</button>
  <button *ngIf="data.tipoLlamado && data.tipoLlamado == 1" mat-button (click)="darSalida()" cdkFocusInitial>Confirmar Salida</button>
  <button *ngIf="data.tipoLlamado && data.tipoLlamado == 2" mat-button (click)="darEntrada()" cdkFocusInitial>Confirmar Entrada</button>
</mat-dialog-actions>
