<div class="col-md-12 mt-3 cont-body p-4" style="padding-top: 78px !important;max-width: 85%;">
    <a routerLink="..">Volver</a>
    <div *ngIf="dress" class="card mb-3 p-0 align-items-center">
      <div class="row col-12 ">
        <div class="col-6 p-0">
          <div class="card-body color-fondo-info" style="width: 100%;">
            <h2 class="card-title text-start">{{dress.descripcion}}</h2>
            <p class="card-text">Codigo: {{dress.idDress}}</p>
            <div class="row">
              <div class="col-6">
                <h2 class="card-title text-start m-0">Color:</h2><br>
                <p>{{dress.color}}</p>
              </div>
              <div class="col-6">
                <h2 class="card-title text-start m-0">Stocks:</h2>
                <div class="row">
                  <p class="col-3 card-title text-start">S: {{dress.stockS}}</p>
                  <p class="col-3 card-title text-start">M: {{dress.stockM}}</p>
                  <p class="col-3 card-title text-start">L: {{dress.stockL}}</p>
                  <p class="col-3 card-title text-start">XL: {{dress.stockXL}}</p>
                  <p class="col-3 card-title text-start">XXL: {{dress.stockXXL}}</p>
                  <p class="col-4 card-title text-start">XXXL: {{dress.stockXXXL}}</p>
                </div>
              </div>
            </div>
            <h2 class="card-title text-start">Precio: ${{dress.precio}}</h2>
            <h2 class="card-title text-start">Categorias:</h2>
            <div class="mb-3">
              <ul class="list-group">
                  <li  class="estilo-cat list-group-item d-flex justify-content-between" *ngFor="let categoria of dress.categorias; index as i; first as isFirst">
                      {{categoria}}
                    </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-6 p-0 d-flex justify-content-center cont-image">
          <img *ngIf="dress.imagenUrl != ''"  src="{{baseUrl+'/'+dress.imagenUrl}}" class="card-img-top card-img-bottom" alt="...">
          <svg *ngIf="dress.imagenUrl == ''" xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-file-earmark-image-fill" viewBox="0 0 16 16">
            <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707v5.586l-2.73-2.73a1 1 0 0 0-1.52.127l-1.889 2.644-1.769-1.062a1 1 0 0 0-1.222.15L2 12.292V2a2 2 0 0 1 2-2m5.5 1.5v2a1 1 0 0 0 1 1h2zm-1.498 4a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
            <path d="M10.564 8.27 14 11.708V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-.293l3.578-3.577 2.56 1.536 2.426-3.395z"/>
          </svg>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <a 
        style="margin-right: 10px !important;" 
        class="btn btn-success" 
        [routerLink]="['/new-reservation/',dress.idDress]" 
        routerLinkActive="active" 
        ariaCurrentWhenActive="page">Reservar</a>
      <a 
        style="margin-right: 10px !important;" 
        class="btn btn-primary" 
        [routerLink]="['/edit-dress/',dress.idDress]" 
        routerLinkActive="active" 
        ariaCurrentWhenActive="page">Editar</a>
      <button type="button" class="btn btn-danger" (click)="removeItem()">Eliminar</button>
    </div>
</div>