<div class="col-md-12 mt-3 cont-body p-4" style="padding-top: 78px !important;max-width: 85%;">
    <a routerLink="..">Volver</a>
    <div *ngIf="dress" class="card mb-3 p-0 align-items-center">
      <div class="row col-12 ">
        <div class="col-6 p-0">
          <div class="card-body color-fondo-info" style="width: 100%;">
            <h2 class="card-title text-start">{{dress.descripcion}}</h2>
            <p class="card-text">Codigo: {{dress.idDress}}</p>
            <div class="row">
              <div class="col-6">
                <h2 class="card-title text-start m-0">Color:</h2><br>
                <p>{{dress.color}}</p>
              </div>
              <div class="col-6">
                <h2 class="card-title text-start m-0">Stocks:</h2>
                <div class="row">
                  <p class="col-3 card-title text-start">S: {{dress.stockS}}</p>
                  <p class="col-3 card-title text-start">M: {{dress.stockM}}</p>
                  <p class="col-3 card-title text-start">L: {{dress.stockL}}</p>
                  <p class="col-3 card-title text-start">XL: {{dress.stockXL}}</p>
                </div>
              </div>
            </div>
            <h2 class="card-title text-start">Precio: ${{dress.precio}}</h2>
            <h2 class="card-title text-start">Categorias:</h2>
            <div class="mb-3">
              <ul class="list-group">
                  <li  class="estilo-cat list-group-item d-flex justify-content-between" *ngFor="let categoria of dress.categorias; index as i; first as isFirst">
                      {{categoria}}
                    </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-6 p-0 d-flex justify-content-center cont-image">
          <img src="{{baseUrl+'/'+dress.imagenUrl}}" class="card-img-top card-img-bottom" alt="...">
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <a 
        style="margin-right: 10px !important;" 
        class="btn btn-success" 
        [routerLink]="['/new-reservation/',dress.idDress]" 
        routerLinkActive="active" 
        ariaCurrentWhenActive="page">Reservar</a>
      <a 
        style="margin-right: 10px !important;" 
        class="btn btn-primary" 
        [routerLink]="['/edit-dress/',dress.idDress]" 
        routerLinkActive="active" 
        ariaCurrentWhenActive="page">Editar</a>
      <button type="button" class="btn btn-danger" (click)="removeItem()">Eliminar</button>
    </div>
</div>