<div class="col-md-12 cont-body p-4 mt-3" style="padding-top: 78px !important;max-width: 85%;">
    <h3>Nueva Reservacion</h3>
    <div class="row">
        <form [formGroup]="movieForm" class="col-6">
            <div class="row">
                <div class="col-3 mb-3">
                    <label for="txtCodigo" class="form-label">Codigo:</label>
                    <input (keyup.enter)="searchDress()" id="txtCodigo" (focusout)="searchDress()" type="text" formControlName="codigo" name="codigo" class="form-control">
                    <div *ngIf="!movieForm.value.codigo" class="form-text text-danger">* Campo requerido</div>
                </div>
                <div class="col-4 mb-3">
                    <label for="txtFechaEvento" class="form-label">Fecha:</label>
                    <input
                        (change)="movieForm.controls['talla'].reset()"
                        id="txtFechaEvento"
                        type="date"
                        formControlName="fechaEvento"
                        class="form-control"
                        #txtFechaEvento/>
                    <div *ngIf="movieForm.controls['fechaEvento'].errors" class="form-text text-danger">* Campo requerido</div>
                </div>
                <div class="col-2 mb-3">
                    <label for="txtTalla" class="form-label">Talla:</label>
                    <select (change)="checkDateEvent()" id="txtTalla" #txtTalla formControlName="talla" class="form-select" aria-label="Selecciona una talla">
                        <option value=""></option>
                        <option *ngIf="(dress && dress.stockS > 0) || reservation" [attr.selected]="reservation && reservation.talla == 'S' ? true : null" value="S">S</option>
                        <option *ngIf="(dress && dress.stockL > 0) || reservation" [attr.selected]="reservation && reservation.talla == 'M' ? true : null" value="M">M</option>
                        <option *ngIf="(dress && dress.stockM > 0) || reservation" [attr.selected]="reservation && reservation.talla == 'L' ? true : null" value="L">L</option>
                        <option *ngIf="(dress && dress.stockXL > 0) || reservation" [attr.selected]="reservation && reservation.talla == 'XL' ? true : null" value="XL">XL</option>
                    </select>
                    <div *ngIf="movieForm.controls['talla'].errors" class="form-text text-danger">* Campo requerido</div>
                </div>
                <div class="col-2 mb-3">
                    <label for="txtDisponible" class="form-label">Disponibles:</label>
                    <label class="form-label">
                        <strong class="p-2">{{totalDisponible}}</strong>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-4 mb-3">
                    <label for="txtNombre" class="form-label">Nombre:</label>
                    <input type="text" formControlName="nombre" class="form-control" #txtNombre>
                    <div *ngIf="movieForm.controls['nombre'].errors" class="form-text text-danger">* Campo requerido</div>
                </div>
                <div class="col-4 mb-3">
                    <label for="txtApPaterno" class="form-label">Apellido Paterno:</label>
                    <input type="text" formControlName="apPaterno" class="form-control" #txtApPaterno>
                    <div *ngIf="movieForm.controls['apPaterno'].errors" class="form-text text-danger">* Campo requerido</div>
                </div>
                <div class="col-4 mb-3">
                    <label for="txtApMaterno" class="form-label">Apellido Materno:</label>
                    <input type="text" formControlName="apMaterno" class="form-control" #txtApMaterno>
                    <div *ngIf="movieForm.controls['apMaterno'].errors" class="form-text text-danger">* Campo requerido</div>
                </div>
            </div>
            <div class="row">
                <div class="col-8 mb-3">
                    <label for="txtDireccion" class="form-label">Direccion:</label>
                    <input type="text" formControlName="direccion" class="form-control" #txtDireccion>
                    <div *ngIf="movieForm.controls['direccion'].errors" class="form-text text-danger">* Campo requerido</div>
                </div>
                <div class="col-4 mb-3">
                    <label for="txtTelefono" class="form-label">Telefono:</label>
                    <input type="text" formControlName="telefono" class="form-control" #txtTelefono>
                    <div *ngIf="movieForm.controls['telefono'].errors" class="form-text text-danger">* Campo requerido</div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 mb-3">
                    <label for="txtAnticipo" class="form-label">Anticipo:</label>
                    <input type="number" formControlName="anticipo" class="form-control" #txtAnticipo>
                    <div *ngIf="movieForm.controls['anticipo'].errors" class="form-text text-danger">* Campo requerido</div>
                </div>
                <div class="col-4 mb-3">
                    <label for="txtCantRestante" class="form-label">Cant. Restante:</label>
                    <input type="number" formControlName="cantRestante" class="form-control" #txtCantRestante>
                    <div *ngIf="movieForm.controls['cantRestante'].errors" class="form-text text-danger">* Campo requerido</div>
                </div>
                <div class="col-4 mb-3">
                    <label for="txtFechaRecoleccion" class="form-label">Fecha de recoleccion:</label>
                    <input type="date" id="txtFechaRecoleccion" formControlName="fechaRecoleccion" class="form-control"
                        #txtFechaRecoleccion />
                    <div *ngIf="movieForm.controls['fechaRecoleccion'].errors" class="form-text text-danger">* Campo requerido</div>
                </div>
                <!-- <div class="col-4 mb-3">
                    <label for="txtTipoComprobante" class="form-label">Tipo de comprobante:</label>
                    <select id="txtTipoComprobante" #txtTipoComprobante formControlName="tipoComprobante" class="form-select">
                        <option value=""></option>
                        <option value="1">INE</option>
                        <option value="2">Efectivo</option>
                    </select>
                    <div *ngIf="movieForm.controls['tipoComprobante'].errors" class="form-text text-danger">* Campo requerido</div>
                </div> -->
            </div>
            <div *ngIf="movieForm.value.tipoComprobante == 2" class="row">
                <div class="col-4 mb-3">
                    <label for="txtCantGarantia" class="form-label">Cant. Garantia:</label>
                    <input type="number" formControlName="cantGarantia" class="form-control" #txtCantGarantia>
                    <div *ngIf="movieForm.controls['cantGarantia'].errors" class="form-text text-danger">* Campo requerido</div>
                </div>
            </div>
            <div class="row">
                <div class="col-8 mb-3">
                    <label for="txtComentarios" class="form-label">Comentarios:</label>
                    <textarea id="txtComentarios" #txtComentarios formControlName="comentarios" class="form-select"></textarea>
                    <div *ngIf="movieForm.controls['comentarios'].errors" class="form-text text-danger">* Campo requerido</div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 mb-3">
                    <div class="form-check">
                        <input (change)="diasExtras()" type="checkbox" id="cbDiasExtras" class="form-check-input" #cbDiasExtras />
                        <label class="form-check-label" for="cbDiasExtras">
                            Agregar dias extras
                        </label>
                    </div>
                </div>
                <div *ngIf="aggDiasExtras" class="row" class="col-4 mb-3">
                    <label for="txtDias" class="form-label">Dias:</label>
                    <input (keyup)="calcularCosto()" type="number" class="form-control" #txtDias>
                </div>
                <div *ngIf="aggDiasExtras" class="row" class="col-4 mb-3">
                    <label for="txtCostoExtra" class="form-label">Total:</label>
                    <input type="number" class="form-control" #txtCostoExtra [disabled]="true" />
                </div>
            </div>
            <button *ngIf="!reservation" type="button" class="btn btn-success col-12" (click)="addReservation()" [disabled]="!movieForm.valid">Reservar</button>
            <button *ngIf="reservation" type="button" class="btn btn-success col-12" (click)="editReservation()" [disabled]="!movieForm.valid">Actualizar</button>
            <button *ngIf="reservation" type="button" class="btn btn-danger col-12 mt-2" (click)="goBack()">Cancelar</button>
        </form>
        <div class="col-6">
            <div class="justify-content-center cont-image">
                <img *ngIf="dress" src="{{baseUrl+'/'+dress.imagenUrl}}" class="card-img-top card-img-bottom" alt="...">        </div>
        </div>
    </div>
</div>
