<div class="cont-body">
    <div class="position-relative" style="top: 60px; margin: 10px;">
        <div class="mt-4 mb-3 ml-0 mr-0 p-0">
            <div class="row pt-3 pb-4 ps-3">
                <div class="col" *ngIf="movies.length" style="cursor: pointer;" (click)="changeOrderBy()">
                    <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7 5C7.55228 5 8 5.44772 8 6V15.5858L10.2929 13.2929C10.6834 12.9024 11.3166 12.9024 11.7071 13.2929C12.0976 13.6834 12.0976 14.3166 11.7071 14.7071L7.70711 18.7071C7.31658 19.0976 6.68342 19.0976 6.29289 18.7071L2.29289 14.7071C1.90237 14.3166 1.90237 13.6834 2.29289 13.2929C2.68342 12.9024 3.31658 12.9024 3.70711 13.2929L6 15.5858V6C6 5.44772 6.44772 5 7 5ZM16.2929 5.29289C16.6834 4.90237 17.3166 4.90237 17.7071 5.29289L21.7071 9.29289C22.0976 9.68342 22.0976 10.3166 21.7071 10.7071C21.3166 11.0976 20.6834 11.0976 20.2929 10.7071L18 8.41421V18C18 18.5523 17.5523 19 17 19C16.4477 19 16 18.5523 16 18V8.41421L13.7071 10.7071C13.3166 11.0976 12.6834 11.0976 12.2929 10.7071C11.9024 10.3166 11.9024 9.68342 12.2929 9.29289L16.2929 5.29289Z" fill="#0F1729"/>
                        </svg>
                </div>
                <div class="col ms-4 cont-filtro {{tipoFiltro == 1 ? 'filtro-activo' : ''}}" style="cursor: pointer;" (click)="cambiarFiltro(1)">
                    <strong>Activos</strong>
                </div>
                <div class="col ms-2 cont-filtro {{tipoFiltro == 0 ? 'filtro-activo' : ''}}" style="cursor: pointer;" (click)="cambiarFiltro(0)">
                    <strong>Inactivos</strong>
                </div>
                <div class="col ms-2 cont-filtro {{tipoFiltro == 3 ? 'filtro-activo' : ''}}" style="cursor: pointer;" (click)="cambiarFiltro(3)">
                    <strong>Donados</strong>
                </div>
                <div class="col ms-2 cont-filtro {{tipoFiltro == 2 ? 'filtro-activo' : ''}}" style="cursor: pointer;" (click)="cambiarFiltro(2)">
                    <strong>Para venta</strong>
                </div>
                <div class="col ms-2 cont-filtro {{tipoFiltro == 4 ? 'filtro-activo' : ''}}" style="cursor: pointer;" (click)="cambiarFiltro(4)">
                    <strong>Vendidos</strong>
                </div>
                <div class="col ms-2 cont-filtro {{tipoFiltro == -1 ? 'filtro-activo' : ''}}" style="cursor: pointer;" (click)="cambiarFiltro(-1)">
                    <strong>Todos</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!movies.length" style="margin: 10rem 0 0 30rem;">
        <p>No se encontrarion coincidencias</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 pb-5 center-items-movil" style="margin: 0px 1%;">
        <div *ngFor="let movie of movies" class="sin-padding-movil" [ngStyle]="{'width': (movies.length==1) ? '400px' : ''}">
            <div class="col">
                <div class="card">
                    <div class="cont-image">
                        <a style="display: contents;" [routerLink]="['/dress/',movie.numVestido]" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-decoration-none">
                            <img *ngIf="movie.imagenUrl != '' && movie.imagenUrl != 'default'" src="{{baseUrl+'/'+movie.imagenUrl}}" class="card-img-top card-img-bottom" alt="...">
                            <svg *ngIf="movie.imagenUrl == '' || movie.imagenUrl == 'default'" xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-file-earmark-image-fill" viewBox="0 0 16 16">
                                <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707v5.586l-2.73-2.73a1 1 0 0 0-1.52.127l-1.889 2.644-1.769-1.062a1 1 0 0 0-1.222.15L2 12.292V2a2 2 0 0 1 2-2m5.5 1.5v2a1 1 0 0 0 1 1h2zm-1.498 4a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
                                <path d="M10.564 8.27 14 11.708V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-.293l3.578-3.577 2.56 1.536 2.426-3.395z"/>
                            </svg>
                        </a>
                    </div>
                    <div class="card-body color-fondo-info">
                        <!-- <h2 class="card-title">{{movie.titulo}}</h2> -->
                        <a style="display: contents;" [routerLink]="['/dress/',movie.numVestido]" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-decoration-none">
                            <p class="card-text titulo_item text-truncate">{{movie.descripcion.substring(0, 100)}}</p>
                        </a>
                        <p class="card-text pt-2" style="color: gray;">{{movie.numVestido}}</p>
                        <div class="row">
                            <div class="col">
                                <p class="card-text">Color: <br>{{movie.color}}</p>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <p class="card-text">
                                    Talla: <br>
                                    {{movie.talla ? movie.talla : ''}}
                                </p>
                            </div>
                        </div>
                        <a
                            *ngIf="movie.status == 1"
                            [routerLink]="['/new-reservation/',movie.numVestido]"
                            routerLinkActive="active"
                            ariaCurrentWhenActive="page"
                            class="btn btn-success col-12"
                        >
                            Reservar
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-info" (click)="cargarMas()">Cargar más</button>
        </div>
    </div>
</div>
<div *ngIf="showSessionWarning" class="session-warning-modal">
    <p>Tu sesión expirará en {{ warningTime }} minutos. ¿Quieres extenderla?</p>
    <button (click)="extendSession()">Extender Sesión</button>
    <button (click)="logout()">Cerrar Sesión Ahora</button>
</div>