.cont-body {
    margin-bottom: 100px;
    min-height: 90vh;
    display: block;
}

.puntero {
    cursor: pointer;
}

.estilo-cat {
    background-color: coral;
    color: white;
}

.cont-image {
    // width:100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cont-image img {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    max-width: 70%;
    // max-height:90%;
}
