/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cont-body {
    position: absolute;
    left: 15%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 991px) {
    .cont-body {
        left: 0px;
    }
    .nav-left {
        display: none;
    }
    .nav-top {
        left: 0px !important;
        width: 100% !important;
    }
    .sin-padding-movil {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}
