<table class="table table-striped">
    <tbody>
        <tr>
            <th>Total Anticipos por Rentas</th>
            <td>{{formatoMoneda(listItems.TotalDeAnticiPorRentas)}}</td>
        </tr>
        <tr>
            <th>Total por Restantes de Salidas</th>
            <td>{{formatoMoneda(listItems.TotalDeRestantesPorSalidas)}}</td>
        </tr>
        <tr>
            <th>Total por Cobro de Dias Extras</th>
            <td>{{formatoMoneda(listItems.TotalPorCobrosExtras)}}</td>
        </tr>
        <tr>
            <th>Total por Pago de Garantias</th>
            <td>{{formatoMoneda(listItems.TotalPorGarantias)}}</td>
        </tr>
        <tr>
            <th>Total</th>
            <td>{{formatoMoneda(listItems.subTotal)}}</td>
        </tr>
    </tbody>
</table>
